# Function
function : สิ่งที่ช่วยให้เราไม่ต้องเขียน code เดิมๆ หลายรอบ
### print ชื่อ XXX นามสกุล YYY รหัส ZZZ
### print เกรด วิชา Stat1 >>> AAA

แบบที่1 คือจะเป็นการกำหนดค่าให้กับ input เพื่อให้ได้ output ออกมา

In [26]:
a = 'ชื่อ นางสาวปิยาพร นามสกุล อุตรนคร รหัส 603021873-0'
print(a)

ชื่อ นางสาวปิยาพร นามสกุล อุตรนคร รหัส 603021873-0

แบบที่2 คือจะเป็นการกำหนดรูปแบบfunction ไว้ให้อยู่ในรูปแบบที่ต้องการตามแบบที่1 แต่ข้อดีของแบบที่2คือจะง่ายต่อความเข้าใจ

In [27]:
name = 'ปิยาพร'
surname = 'อุตรนคร'
ID = '603021873-0'

b = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
print(b)

ชื่อ ปิยาพร นามสกุล อุตรนคร รหัส 603021873-0

# Function template
```python
def function_name(input):
       do_something
       return output ```

 ##### function (แบบปกติ)

กำหนดให้ function เก็บค่าไว้

In [28]:
def print_line1(name1,surname1,ID1):
    st = f'ชื่อ {name} นามสกุล {surname} รหัส {ID}'
    
    return st

In [29]:
print(print_line1('ปิยาพร','อุตรนคร',' 603021873-0'))

ชื่อ ปิยาพร นามสกุล อุตรนคร รหัส 603021873-0

# function without output

(function ไม่มี output)

In [30]:
def print_2lines(name1,surname1,ID1,grade):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print(st)
    st2 = f'เกรดวิชา Stat1 >>> {grade}'
    print (st2)

In [31]:
print_2lines('กาญจนา','ประสาคุณ','603021855-2','A')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
เกรดวิชา Stat1 >>> A

In [32]:
print_2lines('ปิยาพร','อุตรนคร','603021873-0','A')
print_2lines('กรรณิการ์','วิรัชวา','603020904-0','A')
print_2lines('พุธิตา','เจือจัน','603021879-8','A')
print_2lines('วิภาวดี','แก้วดวงดี','603021112-8','A')

ชื่อ ปิยาพร นามสกุล อุตรนคร รหัส 603021873-0
เกรดวิชา Stat1 >>> A
ชื่อ กรรณิการ์ นามสกุล วิรัชวา รหัส 603020904-0
เกรดวิชา Stat1 >>> A
ชื่อ พุธิตา นามสกุล เจือจัน รหัส 603021879-8
เกรดวิชา Stat1 >>> A
ชื่อ วิภาวดี นามสกุล แก้วดวงดี รหัส 603021112-8
เกรดวิชา Stat1 >>> A

# function without input

( function ไม่มี input)

In [33]:
def two_x_tree():
    x = 2*3
    return x

In [34]:
two_x_tree()

6

# function with default argunment

 function ที่มีอาร์กิวเมนต์เริ่มต้น

In [35]:
def print_2lines_default(name1,surname1,ID1,grade='F'):
    st = f'ชื่อ {name1} นามสกุล {surname1} รหัส {ID1}'
    print(st)
    st2 = f'เกรดวิชา stat1 >>> {grade}'
    print(st2)

#### ถ้าลืมใส่เกรด function จะใส่ Default ให้เลยคือ F ***grade='F'

In [36]:
print_2lines_default('กาญจนา','ประสาคุณ','603021855-2')

ชื่อ กาญจนา นามสกุล ประสาคุณ รหัส 603021855-2
เกรดวิชา stat1 >>> F

In [37]:
print_2lines_default(surname1 = 'กาญจนา',name1 = 'ประสาคุณ',ID1 = '603021855-2')

ชื่อ ประสาคุณ นามสกุล กาญจนา รหัส 603021855-2
เกรดวิชา stat1 >>> F

In [38]:
print_2lines('ปิยาพร','อุตรนคร','603021873-0','A')

ชื่อ ปิยาพร นามสกุล อุตรนคร รหัส 603021873-0
เกรดวิชา Stat1 >>> A

# Loop(วนซ้ำ)
   ```python 
   for each_member in listA:
           do something  ```

In [39]:
for i in [1,2,3]:
    print(i)

1
2
3

In [40]:
for i in 'Piyapron':
    print(f'{i }-> / ')

P-> /
i-> /
y-> /
a-> /
p-> /
r-> /
o-> /
n-> /

In [41]:
for i in 'PIYAPRONUTTARANAKRON':
    print(f'{i} -> /')
    print(' ')

P -> /

I -> /

Y -> /

A -> /

P -> /

R -> /

O -> /

N -> /

U -> /

T -> /

T -> /

A -> /

R -> /

A -> /

N -> /

A -> /

K -> /

R -> /

O -> /

N -> /

### 1 สร้าง list ชื่อเพื่อนที่อยู่ในแถวยาวเดียวกัน
### 1.5 สร้าง function print ประโยคว่า XXXเราYYYความรู้สึกZZZเพื่อน ทุกคนในแถวยาว
### 2 วนลูป เรียก function โดยเปลี่ยนชื่อเพื่อนไปเรื่อยๆ

 ## function in loop 
 1.ตั้งชื่อ list 2. function in loop

In [42]:
friend_list = ['ไอ่','ดิว','เอิร์น']
def print_friend (I,feeling,friend) :
    print(f'{I} {feeling} {friend}')

In [43]:
friend_list

['ไอ่', 'ดิว', 'เอิร์น']

In [44]:
def print_output(I,feeling,friend):
       print(f'{I} {feeling} {friend}')

In [45]:
print_output('ขวัญ','รัก','ไอ่')

ขวัญ รัก ไอ่

In [46]:
for f in friend_list:
        print_output('ขวัญ','รัก',f)

ขวัญ รัก ไอ่
ขวัญ รัก ดิว
ขวัญ รัก เอิร์น

## loop in function

In [47]:
def print_feelings(I,feeling,friends):
    for frined in friends:
        print(f'{I} {feeling} {frined}')

In [48]:
print_feelings('ขวัญ','love',friend_list)

ขวัญ love ไอ่
ขวัญ love ดิว
ขวัญ love เอิร์น

## looping in dict

In [49]:
name_grade = {'ปิยาพร' : 'A' , 'กาญจนา' : 'B'}
name_grade

{'ปิยาพร': 'A', 'กาญจนา': 'B'}

In [50]:
name_grade['ปิยาพร']

'A'

In [51]:
name_grade.keys()

dict_keys(['ปิยาพร', 'กาญจนา'])

In [52]:
for i in name_grade.keys():
    print(f'{i} ได้เกรด {name_grade[i]}')

ปิยาพร ได้เกรด A
กาญจนา ได้เกรด B

## loop in loop

In [53]:
for name1 in friend_list:
        for name2 in friend_list:
            print(name1,'รัก',name2)

ไอ่ รัก ไอ่
ไอ่ รัก ดิว
ไอ่ รัก เอิร์น
ดิว รัก ไอ่
ดิว รัก ดิว
ดิว รัก เอิร์น
เอิร์น รัก ไอ่
เอิร์น รัก ดิว
เอิร์น รัก เอิร์น

## Conditional ประโยคเงื่อนไข

## ==, !=,  >= , <= , < , >

```python
if condition1:
    do something
elif condition2:
    do another thing
else:
    do... 
    ```

In [56]:
for name1 in friend_list:
        for name2 in friend_list:
            if name1 != name2:
                 print_output(name1,'รัก',name2)

ไอ่ รัก ดิว
ไอ่ รัก เอิร์น
ดิว รัก ไอ่
ดิว รัก เอิร์น
เอิร์น รัก ไอ่
เอิร์น รัก ดิว

In [57]:
if True:
    print('Yes')

Yes

In [58]:
if False:
    print('Yes')
else:
    print('No')

No

In [59]:
1 == 1

True

In [60]:
if 1 == 1:
    print('1=1')

1=1

# HM
เขียน function ตัดเกรดโดยที่ input เป็น คะแนน(0-100) เป็นเกรด (F-A)
input = [1,50,65,90,101,-5,49]

In [62]:
i_grade = [1,50,65,90,101,-5,49]

In [64]:
for i in i_grade:
    if i>79:
        print('A')
    elif i>74:
        print('B+')
    elif i>69:
        print('B')
    elif i>64:
        print('C+')
    elif i>59:
        print('C')
    elif i>54:
        print('D+')
    elif i>49:
        print('D')
    else:
        print('F')

F
D
C+
A
A
F
F