In [1]:
import pandas as pd

# Define path to table files

In [2]:
w_restaurant_PATH = 'C:\\Users\\N-PC\\Documents\\python\\python_dataviz\\w_restaurant.csv'
search_click_PATH = 'C:\\Users\\N-PC\\Documents\\python\\python_dataviz\\search_click.csv'

# load files into memory

In [3]:
w_restaurant_df = pd.read_csv(w_restaurant_PATH)
search_click_df = pd.read_csv(search_click_PATH)

In [4]:
search_click_df.tail()

,click_timestamp,search_id,business_id,display_position,time_diff_nanos,ads
1048570,05:28.8,99aab616-6fc5-4fbf-994b-4aebee7bb360,278479.0,8,2.072630e+11,False
1048571,15:28.8,d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a,321885.0,8,6.931413e+10,False
1048572,11:49.4,4c1de7fe-300e-41aa-9d01-914344fc3753,221035.0,8,3.105162e+10,False
1048573,10:33.7,2ec0ddec-e450-4b98-9779-42b77aa7eda5,220572.0,8,7.848904e+10,False
1048574,13:51.4,5741d9cf-b9f1-441d-aa83-d2b0179bf874,310448.0,8,3.157757e+10,False

In [5]:
search_click_df.shape

(1048575, 6)

In [6]:
w_restaurant_df.

SyntaxError: invalid syntax (<ipython-input-6-ad01a0520bd6>, line 1)

## data preprocessing
## missing

In [ ]:
w_restaurant_df.isnull().any()

## แก้ missing แบบแรก
## delete row with missing value 
## แบบแรก เข้าห้องสอบกำจัดเลย

ลบ missing ในโค้ด เหลือแสนเจ็ด

In [ ]:
w_restaurant_df.drop_na(subset = ['zipcode'])

In [ ]:
w_restaurant_df.dropna(subset = ['zipcode','number_of_chains'])

In [ ]:
w_restaurant_df =w_restaurant_df.dropna(subset = ['zipcode','number_of_chains'])

แบบที่2 คือให้ฉลาดขึ้นมา
## fill default value to the data

เป็นมิตซิ่งที่ค่า 0

In [ ]:
w_restaurant_df['parking']fillna(0)

search_click_df.tail()

อัพเดทตาราง =ชื่อตารางใหม่จะไปแทนตารางที่โดนดร๊อป na

In [ ]:
w_restaurant_df['parking'] =w_restaurant_df['parking'] =w_restaurant_df fillna(0)

# select part of the table by value
## part of table = table[data_condition == True]

เลือกบางส่วนของตาราง

สนใจร้านจอดรถที่มีมากกว่า5 หรือเท่ากับ5

เอาไว้ใช้หลัง if ได้

list ของ บูลีน

w_restaurant_df['parking'] >= 3

ข้างบนได้แค่ค่า T F

In [ ]:
w_restaurant_d[w_restaurant_df['parking'] >= 3]

โหลดตารางขึ้นใหม่

## HM select all restaurants from your hometown

In [ ]:
w_restaurant_df = pd.read_csv(w_restaurant_PATH)

In [ ]:
w_restaurant_df['city_name']

ถูกรวมกัน

In [ ]:
set(w_restaurant_df['city_name'])

ตัดตารางเฉพาะจังหวัดที่เราอยู่ หรือประเทศที่อยากอยู่

หาวิธีเซฟลงไฟล์

## save table ta a file

In [ ]:
w_restaurant_df.to_csv('test.csv') ##เซฟลงไฟ์ ชื่อไฟล์แบบนี้แปลว่าเซฟที่อยู่เดียวกับโค๊ด

In [ ]:
search_click_df.tail()

# Week2

In [7]:
import pandas as pd

In [8]:
w_restaurant_PATH = 'C:\\Users\\N-PC\\Documents\\python\\python_dataviz\\w_restaurant.csv'
search_click_PATH = 'C:\\Users\\N-PC\\Documents\\python\\python_dataviz\\search_click.csv'
w_restaurant_df = pd.read_csv(w_restaurant_PATH)
search_click_df = pd.read_csv(search_click_PATH)

In [9]:
w_restaurant_df.head()

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
0,2,นครินทร์ทันตกรรม,2,0,Samut Songkhram,75000,w4rh7g3,0,5.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN
1,4,Corner House,1,0,Bangkok Metropolitan Region,12150,w4rx73h,0,2.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,วัดโลกยสุธาราม,4,0,Phra Nakhon Si Ayutthaya,13000,w4x98jk,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,นันท์คาราโอเกะ,1,0,Bangkok Metropolitan Region,10700,w4rqw9q,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,Buono Caffe,1,0,Bangkok Metropolitan Region,10220,w4rx4gd,0,3.738462,NaN,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN