 # ติดตั้ง conda install pandas- ก่อนที่จะ import pandas
 New -> terminal เพื่อที่จะได้ไม่ต้องกดเข้าออก jupyter notebook

In [4]:
import pandas as pd

# Define path to table files 
สร้างตัวแปรเพื่อเก็บไฟล์และ PATH คือที่อยู่ของไฟล์ที่เราจะเรียกใช้งาน URL ที่นำมาให้เพิ่ม \\

In [5]:
w_restaurant_PATH = 'C:\\Users\\N-PC\\Documents\\python\\python_dataviz\\w_restaurant.csv'
search_click_PATH = 'C:\\Users\\N-PC\\Documents\\python\\python_dataviz\\search_click.csv'

# load files into memory
โหลดไฟล์เข้ามาและสร้างตัวแปรมารับ

In [6]:
w_restaurant_df = pd.read_csv(w_restaurant_PATH)
search_click_df = pd.read_csv(search_click_PATH)

# Look at the tables 
เรียกดูไฟล์ที่เอาเข้ามา

In [7]:
w_restaurant_df

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
0,2,นครินทร์ทันตกรรม,2,0,Samut Songkhram,75000,w4rh7g3,0,5.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN
1,4,Corner House,1,0,Bangkok Metropolitan Region,12150,w4rx73h,0,2.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,วัดโลกยสุธาราม,4,0,Phra Nakhon Si Ayutthaya,13000,w4x98jk,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,นันท์คาราโอเกะ,1,0,Bangkok Metropolitan Region,10700,w4rqw9q,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,Buono Caffe,1,0,Bangkok Metropolitan Region,10220,w4rx4gd,0,3.738462,NaN,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246842,340068,Sushi Tama,1,0,Bangkok Metropolitan Region,11130,w4rqtcb,0,3.663522,3.0,...,0.0,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN
246843,340070,สะบายดี คาราโอเกะ,1,0,Bangkok Metropolitan Region,NaN,w4rwjcg,0,0.000000,NaN,...,1.0,NaN,1.0,NaN,NaN,2.0,NaN,NaN,NaN,NaN
246844,340074,สเต็กแม่&กาแฟลูก,1,0,Bangkok Metropolitan Region,10160,w4rmvxf,0,4.000000,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246845,340079,Mom Made,1,0,Nakhon Si Thammarat,80000,w1x04g6,0,5.000000,NaN,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246846,340091,ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง,1,0,Suphan Buri,72000,w4x4q7s,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

data = 246847 ,  ฟิว = 32

### ดูหัวตาราง

In [8]:
search_click_df.head()

,click_timestamp,search_id,business_id,display_position,time_diff_nanos,ads
0,11:38.9,5c004472-5ecc-4159-9698-9f329b8e26e1,298839.0,0,2.222400e+15,True
1,30:51.3,5f34eca0-c04e-4c10-b600-54aa447dbd8e,171372.0,0,4.608380e+14,True
2,32:09.6,8dc6d1f0-11f1-4239-9dd2-5c1674c81224,16157.0,0,2.581490e+15,True
3,00:59.8,1a5810e9-3d1f-44b9-9a2e-26ede21c524b,89741.0,1,1.404580e+15,True
4,23:36.8,6bc75e0d-fc65-471e-9926-ff6be6708639,189564.0,1,9.333590e+14,True

### ดูท้ายตาราง

In [9]:
search_click_df.tail()

,click_timestamp,search_id,business_id,display_position,time_diff_nanos,ads
1048570,05:28.8,99aab616-6fc5-4fbf-994b-4aebee7bb360,278479.0,8,2.072630e+11,False
1048571,15:28.8,d70a2c5d-ee94-4e4c-9f7c-c5faac6db12a,321885.0,8,6.931413e+10,False
1048572,11:49.4,4c1de7fe-300e-41aa-9d01-914344fc3753,221035.0,8,3.105162e+10,False
1048573,10:33.7,2ec0ddec-e450-4b98-9779-42b77aa7eda5,220572.0,8,7.848904e+10,False
1048574,13:51.4,5741d9cf-b9f1-441d-aa83-d2b0179bf874,310448.0,8,3.157757e+10,False

ดูไฟล์ว่ามี dataเท่าไร rows × columns

In [10]:
search_click_df.shape

(1048575, 6)

# Data preprocessing 
การกำจัด missing

In [11]:
w_restaurant_df.isnull() #ดูทุกค่าใน data ว่ามี missing ไหม

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
0,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,False,True,True,True,True
1,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
2,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
3,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True
4,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,False,False,True,True,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246842,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,True,True,True,True,True
246843,False,False,False,False,False,True,False,False,False,True,...,False,True,False,True,True,False,True,True,True,True
246844,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,True,True,True,True,True,True
246845,False,False,False,False,False,False,False,False,False,True,...,False,False,False,True,True,True,True,True,True,True
246846,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,True,True

### ดูว่าใน data นั้นมี columns ไหนมี missing

In [12]:
w_restaurant_df.isnull().any()

id                         False
name                       False
domain_id                  False
closed                     False
city_name                  False
zipcode                     True
geohash                    False
new_open                   False
weighted_average_rating    False
number_of_chains            True
number_of_bookmarks         True
number_of_reviews          False
number_of_product_tags     False
total_number_of_views      False
number_of_checkins         False
number_of_menu_groups      False
number_of_menu_photos      False
category_name              False
price_range                 True
avg_price                   True
parking                     True
credit_card_accepted        True
good_for_groups             True
good_for_kids               True
bookable                    True
best_of_wongnai             True
wifi                        True
number_of_seats             True
music_venue                 True
hotel_restaurant            True
pet_friendly                True
delivery                    True
dtype: bool

## วิธีแก้ missing 
### 1.ตัดออก
### 2.แทนค่า missing
### 3.หาค่าเฉลี่ยมาเติม¶

## 1.ตัดออก delete row with missing value 
แบบแรกนี้ เข้าห้องสอบกำจัดเลย

#### คำสั่งต่อไปนี้คือจะลบmissingของ zipcodeและnumber_of_chainsออกไป โดยใช้คำสั่งdropna(subset = ['ชื่อ columnsที่เราจะลบ'])

In [13]:
w_restaurant_df.dropna(subset = ['zipcode','number_of_chains'])

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
61,114,มานีมีนม,1,0,Bangkok Metropolitan Region,10312,w4rw3e0,0,3.793103,18.0,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,1.0
114,224,สเต็กลุงหนวด,1,0,Bangkok Metropolitan Region,10120,w4rmwyw,0,3.744000,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
115,225,Mr.shake,1,0,Bangkok Metropolitan Region,10150,w4rmky3,0,0.000000,19.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,267,KFC,1,0,Bangkok Metropolitan Region,10170,w4rqq7v,0,2.846154,629.0,...,NaN,NaN,NaN,NaN,0.0,3.0,NaN,NaN,NaN,NaN
140,297,Miss Mamon,1,1,Bangkok Metropolitan Region,10400,w4rw22t,0,3.147959,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246722,339787,Chang coffee,1,0,Chiang Mai,50100,w5q6szv,0,3.537037,102.0,...,1.0,0.0,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN
246752,339864,Hokkaido,1,0,Bangkok Metropolitan Region,10170,w4rqkf3,0,3.191781,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246815,340000,สเต็กลุงหนวด,1,0,Nakhon Sawan,17000,w4xqf9k,0,3.166667,98.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246834,340048,Kuppadeli,1,1,Bangkok Metropolitan Region,10110,w4rw0e8,0,0.000000,5.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246842,340068,Sushi Tama,1,0,Bangkok Metropolitan Region,11130,w4rqtcb,0,3.663522,3.0,...,0.0,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

In [15]:
w_restaurant_df =w_restaurant_df.dropna(subset = ['zipcode','number_of_chains'])

# 2.แทนค่า missing คือให้ฉลาดขึ้นมา
## fill default value to the data
แก้ missing : fillna() ใน () เป็นค่าเราที่จะเติม เป็นมิตซิ่งที่ค่า 0

In [16]:
w_restaurant_df['parking'].fillna(0)

61        3.0
114       3.0
115       0.0
131       3.0
140       3.0
         ...
246722    1.0
246752    3.0
246815    3.0
246834    0.0
246842    3.0
Name: parking, Length: 13669, dtype: float64

#### อัพเดทตารางเป็นราย fill

In [17]:
w_restaurant_df['parking'] = w_restaurant_df['parking'].fillna(0)

# select part of the table by value
# part of table = table[data_condition == True]
เลือกบางส่วนของตาราง

- สนใจร้านจอดรถที่มีมากกว่า5 หรือเท่ากับ5
- เอาไว้ใช้หลัง if ได้
- list ของ บูลีน
- w_restaurant_df['parking'] >= 5
- ข้างบนได้แค่ค่า T F

In [18]:
w_restaurant_df['parking'] > 5 #เวลาที่เราจะเลือกส่วนนึงในตารางให้เราใช้บูลีน

61        False
114       False
115       False
131       False
140       False
          ...
246722    False
246752    False
246815    False
246834    False
246842    False
Name: parking, Length: 13669, dtype: bool

In [19]:
w_restaurant_df[w_restaurant_df['parking'] >= 3 ]

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
61,114,มานีมีนม,1,0,Bangkok Metropolitan Region,10312,w4rw3e0,0,3.793103,18.0,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,1.0
114,224,สเต็กลุงหนวด,1,0,Bangkok Metropolitan Region,10120,w4rmwyw,0,3.744000,98.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,267,KFC,1,0,Bangkok Metropolitan Region,10170,w4rqq7v,0,2.846154,629.0,...,NaN,NaN,NaN,NaN,0.0,3.0,NaN,NaN,NaN,NaN
140,297,Miss Mamon,1,1,Bangkok Metropolitan Region,10400,w4rw22t,0,3.147959,11.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
149,344,Inthanin Coffee,1,0,Bangkok Metropolitan Region,10700,w4rqx1q,0,3.000000,213.0,...,NaN,NaN,NaN,NaN,0.0,2.0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246646,339670,Four Seasons Chinese Restaurant,1,0,Bangkok Metropolitan Region,10230,w4rw98b,0,3.781711,6.0,...,NaN,NaN,NaN,NaN,0.0,3.0,NaN,NaN,NaN,NaN
246684,339718,Jeffer Steak,1,0,Bangkok Metropolitan Region,10312,w4rw37q,0,4.000000,87.0,...,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246752,339864,Hokkaido,1,0,Bangkok Metropolitan Region,10170,w4rqkf3,0,3.191781,22.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246815,340000,สเต็กลุงหนวด,1,0,Nakhon Sawan,17000,w4xqf9k,0,3.166667,98.0,...,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246842,340068,Sushi Tama,1,0,Bangkok Metropolitan Region,11130,w4rqtcb,0,3.663522,3.0,...,0.0,1.0,0.0,NaN,0.0,NaN,NaN,NaN,NaN,NaN

## HM select all restaurants from your hometown

In [20]:
w_restaurant_df = pd.read_csv(w_restaurant_PATH)

In [21]:
set(w_restaurant_df['city_name'])

{'Abu Dhabi',
 'Aichi-ken',
 'Akershus',
 'Akita-ken',
 'Al Farwaniyah Governorate',
 'Alabama',
 'Alaska',
 'Alberta',
 'Amnat Charoen',
 'Andalucía',
 'Ang Thong',
 'Aomori-ken',
 'Appenzell Ausserrhoden',
 'Appenzell Innerrhoden',
 'Aragón',
 'Argyll and Bute',
 'Arizona',
 'Attica',
 'Auckland',
 'Australia',
 'Auvergne-Rhône-Alpes',
 'Aydın',
 'Ba Ria - Vung Tau',
 'Baden-Wurttemberg',
 'Bago Region',
 'Bahia',
 'Bali',
 'Balochistan',
 'Bangkok Metropolitan Region',
 'Banteay Meanchey Province',
 'Banten',
 'Basel-Stadt',
 'Basilicata',
 'Basrah',
 'Battambang',
 'Bay Of Plenty',
 'Bayern',
 'Berlin',
 'Bern',
 'Bihar',
 'Binh Thuan',
 'Binh Thuan province',
 'Borno',
 'Bratislava',
 'Bremen',
 'Bretagne',
 'British Columbia',
 'Brussels Hoofdstedelijk Gewest',
 'Buckinghamshire',
 'Budapest',
 'Bueng Kan',
 'Buri Ram',
 'Busan',
 'Buskerud',
 'C2 MALL',
 'CALABARZON',
 'Cairo Governorate',
 'California',
 'Cambodia',
 'Canterbury',
 'Capital Governorate',
 'Capital Region',
 'Capital Region of Denmark',
 'Castilla-La Mancha',
 'Catalonia',
 'Central Development Region',
 'Central Visayas',
 'Centre-Val de Loire',
 'Chachoengsao',
 'Chai Nat',
 'Chaiyaphum',
 'Champasak Province',
 'Changhua County',
 'Chanthaburi',
 'Chiang Mai',
 'Chiang Rai',
 'Chiayi City',
 'Chiayi County',
 'Chiba-ken',
 'China',
 'Chon Buri',
 'Chongqing Shi',
 'Chumphon',
 'Chungcheongnam-do',
 'City of Zagreb',
 'Colorado',
 'Comunidad de Madrid',
 'County Cork',
 'County Dublin',
 'County Galway',
 'County Kerry',
 'Cusco',
 'Daegu',
 'Daejeon',
 'Daerah Brunei-Muara',
 'Daerah Istimewa Yogyakarta',
 'Dar es Salaam',
 'Delhi',
 'Denizli',
 'Departamento de La Paz',
 'Departamento de Potosí',
 'District of Columbia',
 'Dubai',
 'Dubrovačko-neretvanska županija',
 'Ehime-ken',
 'England',
 'Espoo',
 'Federal',
 'Finland',
 'Finnmark',
 'Florida',
 'Fribourg',
 'Fujian Sheng',
 'Fukui-ken',
 'Fukuoka-ken',
 'Fukushima-ken',
 'Gangwon-do',
 'Gelderland',
 'Geneva',
 'George Town',
 'Georgia',
 'Gifu-ken',
 'Gloucestershire',
 'Gombe',
 'Grand Est',
 'Graubünden',
 'Greater London',
 'Greater Manchester',
 'Guangdong Sheng',
 'Guangxi Zhuangzuzizhiqu',
 'Guinea',
 'Gunma-ken',
 'Gyeonggi-do',
 'Gyeongsangbuk-do',
 'Hainan Sheng',
 'Hampshire',
 'Harju maakond',
 'Hauts-de-France',
 'Hawaii',
 'Hessen',
 'Hiiraan',
 'Hiroshima-ken',
 'Hokkaido',
 'Hordaland',
 'Hsinchu City',
 'Hsinchu County',
 'Hua Hin',
 'Hunan',
 'Hyogo-ken',
 'Hà Nội',
 'Höfn í Hornafirði',
 'Hồ Chí Minh',
 'Ibaraki-ken',
 'Iceland',
 'Illinois',
 'Incheon',
 'India',
 'Inner Mongolia',
 'Ireland',
 'Ishikawa-ken',
 'Istanbul',
 'Iwate-ken',
 'Jakarta Capital Region',
 'Jawa Barat',
 'Jawa Timur',
 'Jeju-do',
 'Jeollabuk-do',
 'Jharkhand',
 'Jiangsu Sheng',
 'Jiangxi Sheng',
 'Jihočeský kraj',
 'Johor',
 'Județul Constanța',
 'Kagoshima',
 'Kalasin',
 'Kamphaeng Phet',
 'Kanagawa-ken',
 'Kanchanaburi',
 'Kaohsiung City',
 'Karlovy Vary Region',
 'Karnataka',
 'Kayes',
 'Kedah',
 'Keelung City',
 'Kelantan',
 'Kepulauan Riau',
 'Khammouane Province',
 'Khartoum',
 'Khon Kaen',
 'Khánh Hoà',
 'Kinshasa',
 'Koh Kong Province',
 'Kowloon',
 'Krabi',
 'Kumamoto-ken',
 'Kyoto-fu',
 'København',
 'Lac',
 'Lampang',
 'Lamphun',
 'Lancashire',
 'Lao Cai',
 'Lazio',
 "Leningradskaya oblast'",
 'Liaoning',
 'Liguria',
 'Lima',
 'Limerick',
 'Lisboa',
 'Lithuania',
 'Ličko-senjska županija',
 'Loei',
 'Lombardia',
 'Lopburi',
 'Louisiana',
 'Luang Prabang Province',
 'Luxembourg',
 'Luxor Governorate',
 'Luzern',
 'Lâm Đồng',
 'Macau',
 'Madrid',
 'Magway Region',
 'Maha Sarakham',
 'Maharashtra',
 'Malacca',
 'Maldives',
 'Mandalay Region',
 'Marlborough',
 'Maryland',
 'Masovian Voivodeship',
 'Massachusetts',
 'Mayo',
 'Metro Manila',
 'Michigan',
 'Mid-Western Development Region',
 'Mie-ken',
 'Minnesota',
 'Miyagi-ken',
 'Mon State',
 'Moscow',
 "Moskovskaya oblast'",
 'Mukdahan',
 'Munxar',
 "Murmanskaya oblast'",
 'Nagano-ken',
 'Nagasaki-ken',
 'Nakhon Nayok',
 'Nakhon Phanom',
 'Nakhon Ratchasima',
 'Nakhon Sawan',
 'Nakhon Si Thammarat',
 'Nan',
 'Nantou County',
 'Nara-ken',
 'Narathiwat',
 'Naxos',
 'Negeri Sembilan',
 'Nevada',
 'Nevsehir',
 'New Hampshire',
 'New Jersey',
 'New South Wales',
 'New Taipei City',
 'New Territories',
 'New York',
 'New Zealand',
 'Newfoundland and Labrador',
 'Nghệ An',
 'Niedersachsen',
 'Niederösterreich',
 'Niigata-ken',
 'Nong Bua Lam Phu',
 'Nong Khai',
 'Noord-Holland',
 'Nordrhein-Westfalen',
 'Normandie',
 'North Central Province',
 'Northern Ireland',
 'Northern Territory',
 'Nouvelle-Aquitaine',
 "Novosibirskaya oblast'",
 'Nusa Tenggara Barat',
 'Oaxaca',
 'Oberösterreich',
 'Obwalden',
 'Ohio',
 'Okayama-ken',
 'Okinawa-ken',
 'Oklahoma',
 'Ontario',
 'Oregon',
 'Oslo',
 'Otago',
 'Pahang',
 'Pakistan',
 'Palau',
 'Pardubice Region',
 'Pattani',
 'Penang',
 'Pennsylvania',
 'Perak',
 'Phang-nga',
 'Phatthalung',
 'Phayao',
 'Phetchabun',
 'Phetchaburi',
 'Phichit',
 'Phitsanulok',
 'Phnom Penh',
 'Phra Nakhon Si Ayutthaya',
 'Phrae',
 'Phuket',
 'Piemonte',
 'Plzeň Region',
 'Porto',
 'Postojna',
 'Prachin Buri',
 'Prachuap Khiri Khan',
 'Prague',
 'Preah Sihanouk',
 'Primorskiy kray',
 'Primorsko-goranska županija',
 "Provence-Alpes-Côte d'Azur",
 'Pulau Pinang',
 'Punjab',
 'Qatar',
 'Qinghai Sheng',
 'Quebec',
 'Queensland',
 'Quảng Nam',
 'Quảng Ninh',
 'Ranong',
 'Ratchaburi',
 'Rayong',
 'Region Zealand',
 'Rheinland-Pfalz',
 'Riau',
 'Roi Et',
 'Région de Kidal',
 'Rīgas pilsēta',
 'Sa Kaeo',
 'Sabah',
 'Sachsen-Anhalt',
 'Saga-ken',
 'Saint Petersburg',
 'Sainyabuli Province',
 'Saitama-ken',
 'Sakon Nakhon',
 'Salzburg',
 'Samut Songkhram',
 'Sankt Gallen',
 'Saraburi',
 'Satun',
 'Savannakhet Province',
 'Saxony',
 'Schaffhausen',
 'Scotland',
 'Selangor',
 'Seoul',
 'Setúbal',
 'Shaanxi Sheng',
 'Shan',
 'Shandong Sheng',
 'Shanghai',
 'Shanxi Sheng',
 'Shiga-ken',
 'Shizuoka-ken',
 'Si Sa Ket',
 'Sichuan Sheng',
 'Siem Reap',
 'Sing Buri',
 'Singapore',
 'Slough',
 'South Carolina',
 'Southern Islands',
 'Southland',
 'Splitsko-dalmatinska županija',
 'Stavropolskiy kray',
 'Stockholms län',
 'Sukhothai',
 'Sumatera Utara',
 'Suphan Buri',
 'Surat Thani',
 'Surin',
 'Svay Rieng',
 'Taichung City',
 'Tainan City',
 'Taipei City',
 'Tak',
 'Tamil Nadu',
 'Tanintharyi Region',
 'Taoyuan City',
 'Tasmania',
 'Tehran',
 'Telangana',
 'Texas',
 'Thailand',
 'Thimphu',
 'Thua Thien Hue',
 'Tianjin',
 'Ticino',
 'Tirol',
 'Tochigi-ken',
 'Tokyo-to',
 'Tottori-ken',
 'Toyama-ken',
 'Trabzon',
 'Trang',
 'Trat',
 'Troms',
 'Tuscany',
 'Ubon Ratchathani',
 'Udon Thani',
 'Uri',
 'Utah',
 'Uthai Thani',
 'Utrecht',
 'Uttar Pradesh',
 'Uttaradit',
 'Vaduz',
 'Valais',
 'Valletta',
 'Vantaa',
 'Vaud',
 'Veneto',
 'Victoria',
 'Vientiane Prefecture',
 'Vientiane Province',
 'Virginia',
 'Vlaanderen',
 "Vladimirskaya oblast'",
 'Vorarlberg',
 'Waikato',
 'Wakayama-ken',
 'Wales',
 'Wallonie',
 'Washington',
 'Waterford',
 'West Bengal',
 'West Midlands',
 'West Sussex',
 'Western Australia',
 'Western Cape',
 'Wien',
 'Wilayah Persekutuan Putrajaya',
 'Wisconsin',
 'Województwo podkarpackie',
 'Xinjiang Weiwuerzizhiqu',
 'Xizang (Tibet)',
 'Yala',
 'Yamagata-ken',
 'Yamaguchi-ken',
 'Yamanashi-ken',
 'Yangon',
 'Yasothon',
 'Yilan County',
 'Yunlin County',
 'Yunnan Sheng',
 'Zhejiang',
 'Zuid-Holland',
 'Zurich',
 'kujawsko-pomorskie',
 'lubelskie',
 'małopolskie',
 'pomorskie',
 'tỉnh Kiên Giang',
 'wielkopolskie',
 'Çanakkale',
 'Île-de-France',
 'Điện Biên',
 'Đà Nẵng',
 'İstanbul',
 'İzmir',
 'Ōita-ken',
 'Ōsaka-fu',
 'محافظة المحرق',
 'สงขลา',
 'เขาใหญ่'}

In [22]:
w_restaurant_df[w_restaurant_df['city_name'] == 'Chaiyaphum' ] #เลือกเฉพาะร้านอาหารที่อยู่จังหวัดชัยภูมิ

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
602,1000,ครัวบ้านนา,1,0,Chaiyaphum,36230,w6b0gm4,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1301,2137,ไก่ย่างกันเอง,1,0,Chaiyaphum,NaN,w6bd4ts,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1864,3171,กาแฟสดเด่นชัย,1,0,Chaiyaphum,40140,w6cngk7,0,0.000000,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1991,3502,KFC,1,0,Chaiyaphum,36000,w6b9cwe,0,4.037037,629.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2035,3587,Cafe'Amazon,1,0,Chaiyaphum,36160,w68rf54,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
244738,337541,9สตางค์,1,0,Chaiyaphum,NaN,w6b9cwk,1,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
245561,338465,ร้านอาหารทรายงาม,1,0,Chaiyaphum,36000,w6bd423,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246581,339587,รวมใจคาราโอเกะ,1,0,Chaiyaphum,36000,w6bd4s0,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246789,339935,ยิ้ม ยิ้ม สเต็ก บุฟเฟ่,1,0,Chaiyaphum,36000,w6b9ctu,0,3.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
246798,339944,เค.บี.การเกษตร,1,0,Chaiyaphum,NaN,w6bs858,0,5.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## save table to a file

In [23]:
w_restaurant_df.to_csv('test.csv') ##เซฟลงไฟล์ ชื่อไฟล์แบบนี้แปลว่าเซฟที่อยู่เดียวกับโค๊ด

# Week2

In [24]:
import pandas as pd

In [25]:
w_restaurant_PATH = 'C:\\Users\\N-PC\\Documents\\python\\python_dataviz\\w_restaurant.csv'
search_click_PATH = 'C:\\Users\\N-PC\\Documents\\python\\python_dataviz\\search_click.csv'
w_restaurant_df = pd.read_csv(w_restaurant_PATH)
search_click_df = pd.read_csv(search_click_PATH)

In [26]:
w_restaurant_df.head()

,id,name,domain_id,closed,city_name,zipcode,geohash,new_open,weighted_average_rating,number_of_chains,...,good_for_groups,good_for_kids,bookable,best_of_wongnai,wifi,number_of_seats,music_venue,hotel_restaurant,pet_friendly,delivery
0,2,นครินทร์ทันตกรรม,2,0,Samut Songkhram,75000,w4rh7g3,0,5.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,NaN
1,4,Corner House,1,0,Bangkok Metropolitan Region,12150,w4rx73h,0,2.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,5,วัดโลกยสุธาราม,4,0,Phra Nakhon Si Ayutthaya,13000,w4x98jk,0,4.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,6,นันท์คาราโอเกะ,1,0,Bangkok Metropolitan Region,10700,w4rqw9q,0,0.000000,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,7,Buono Caffe,1,0,Bangkok Metropolitan Region,10220,w4rx4gd,0,3.738462,NaN,...,NaN,NaN,NaN,NaN,1.0,2.0,NaN,NaN,NaN,NaN

# select only some columns
# เลือกเฉพาะ colomns ที่เราต้องการ

In [27]:
small_table = w_restaurant_df[['name','city_name','zipcode','weighted_average_rating']]
small_table

,name,city_name,zipcode,weighted_average_rating
0,นครินทร์ทันตกรรม,Samut Songkhram,75000,5.000000
1,Corner House,Bangkok Metropolitan Region,12150,2.000000
2,วัดโลกยสุธาราม,Phra Nakhon Si Ayutthaya,13000,4.000000
3,นันท์คาราโอเกะ,Bangkok Metropolitan Region,10700,0.000000
4,Buono Caffe,Bangkok Metropolitan Region,10220,3.738462
...,...,...,...,...
246842,Sushi Tama,Bangkok Metropolitan Region,11130,3.663522
246843,สะบายดี คาราโอเกะ,Bangkok Metropolitan Region,NaN,0.000000
246844,สเต็กแม่&กาแฟลูก,Bangkok Metropolitan Region,10160,4.000000
246845,Mom Made,Nakhon Si Thammarat,80000,5.000000
246846,ก๋วยเตี๋ยวหมูน้ำตก ก๋วยเตี๋ยวเรือทอง,Suphan Buri,72000,3.000000

ต่อไปจะเป็นการรวมตาราง

ดูยาก เป็นการดูการเข้าใช้ของแต่ละร้าน

In [28]:
search_click_df.head()

,click_timestamp,search_id,business_id,display_position,time_diff_nanos,ads
0,11:38.9,5c004472-5ecc-4159-9698-9f329b8e26e1,298839.0,0,2.222400e+15,True
1,30:51.3,5f34eca0-c04e-4c10-b600-54aa447dbd8e,171372.0,0,4.608380e+14,True
2,32:09.6,8dc6d1f0-11f1-4239-9dd2-5c1674c81224,16157.0,0,2.581490e+15,True
3,00:59.8,1a5810e9-3d1f-44b9-9a2e-26ede21c524b,89741.0,1,1.404580e+15,True
4,23:36.8,6bc75e0d-fc65-471e-9926-ff6be6708639,189564.0,1,9.333590e+14,True

การจะเชื่อมตารางเข้ากันต้องีชื่อcolumซ้ำกันถึงจะรวมกันได้

## การรวมตารางจะมี2แบบ
ส่วนอันแรกที่เราจะเรียนก็คือ
## 1. Add column from another table

ข้อควรระวัง ตารางที่เป็นตารางรองต้องไม่มีอะไรซ้ำกันเลย
ใช้ index มาแมท

แบบนี้คือโชว์ส่วนที่จะดึงเข้ามาเฉยๆ

In [29]:
 w_restaurant_df['id']

0              2
1              4
2              5
3              6
4              7
           ...
246842    340068
246843    340070
246844    340074
246845    340079
246846    340091
Name: id, Length: 246847, dtype: int64

ตารางที่ชื่อ table จะบอกว่าตาราง id จะเข้ามา

In [32]:
small_table['id'] = w_restaurant_df['id']

C:\Users\N-PC\Miniconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

#เป็นการเพิ่มคอลัมน์ใน small_table column id โดยค่าเท่ากับ w _restaurant_df column id

# 2. คำสั่ง .map()

### add business name to search_click

In [33]:
search_click_df.head()

,click_timestamp,search_id,business_id,display_position,time_diff_nanos,ads
0,11:38.9,5c004472-5ecc-4159-9698-9f329b8e26e1,298839.0,0,2.222400e+15,True
1,30:51.3,5f34eca0-c04e-4c10-b600-54aa447dbd8e,171372.0,0,4.608380e+14,True
2,32:09.6,8dc6d1f0-11f1-4239-9dd2-5c1674c81224,16157.0,0,2.581490e+15,True
3,00:59.8,1a5810e9-3d1f-44b9-9a2e-26ede21c524b,89741.0,1,1.404580e+15,True
4,23:36.8,6bc75e0d-fc65-471e-9926-ff6be6708639,189564.0,1,9.333590e+14,True

วิธีเพิ่มลงไป search_click_df['business_id'] ตารางหลัก .map(small_table.set_index('id')['name']) ตารางที่จะแมปคือตารางรอง
ข้อควรระวัง คีย์ในตารางรองต้องไม่ซ้ำกัน ตารางหลักซ้ำกันได้

In [34]:
search_click_df['business_name'] = search_click_df['business_id'].map(small_table.set_index('id')['name'])

In [35]:
search_click_df.head()

,click_timestamp,search_id,business_id,display_position,time_diff_nanos,ads,business_name
0,11:38.9,5c004472-5ecc-4159-9698-9f329b8e26e1,298839.0,0,2.222400e+15,True,ปูดองอันยอง Eight
1,30:51.3,5f34eca0-c04e-4c10-b600-54aa447dbd8e,171372.0,0,4.608380e+14,True,Yoshinoya
2,32:09.6,8dc6d1f0-11f1-4239-9dd2-5c1674c81224,16157.0,0,2.581490e+15,True,The Hub Cafe and Eatery
3,00:59.8,1a5810e9-3d1f-44b9-9a2e-26ede21c524b,89741.0,1,1.404580e+15,True,ซั่งไห่ เสี่ยวหลงเปา
4,23:36.8,6bc75e0d-fc65-471e-9926-ff6be6708639,189564.0,1,9.333590e+14,True,Yoshinoya

# 3. คำสั่ง .merge()
โจทย์คือเราอยากรวมสองตารางเข้าด้วยกัน ถ้าคอลัมไหนไม่ต้องการเราค่อยลบออก
# combine two table

ตั้งชื่อตารางใหม่ตามด้วยตารางหลักแล้วตามด้วย.merge()

#คำสั่งข้างล่างคือการรวม2ตาราง

In [36]:
merged_table = search_click_df.merge(small_table, how = 'left', left_on = 'business_id', right_on='id')

In [38]:
#คำสั่งนี้คือตารางใหม่

In [37]:
merged_table.head()

,click_timestamp,search_id,business_id,display_position,time_diff_nanos,ads,business_name,name,city_name,zipcode,weighted_average_rating,id
0,11:38.9,5c004472-5ecc-4159-9698-9f329b8e26e1,298839.0,0,2.222400e+15,True,ปูดองอันยอง Eight,ปูดองอันยอง Eight,Bangkok Metropolitan Region,10110,3.836735,298839.0
1,30:51.3,5f34eca0-c04e-4c10-b600-54aa447dbd8e,171372.0,0,4.608380e+14,True,Yoshinoya,Yoshinoya,Bangkok Metropolitan Region,NaN,3.118367,171372.0
2,32:09.6,8dc6d1f0-11f1-4239-9dd2-5c1674c81224,16157.0,0,2.581490e+15,True,The Hub Cafe and Eatery,The Hub Cafe and Eatery,Bangkok Metropolitan Region,NaN,4.015184,16157.0
3,00:59.8,1a5810e9-3d1f-44b9-9a2e-26ede21c524b,89741.0,1,1.404580e+15,True,ซั่งไห่ เสี่ยวหลงเปา,ซั่งไห่ เสี่ยวหลงเปา,Bangkok Metropolitan Region,10900,3.444134,89741.0
4,23:36.8,6bc75e0d-fc65-471e-9926-ff6be6708639,189564.0,1,9.333590e+14,True,Yoshinoya,Yoshinoya,Bangkok Metropolitan Region,10110,2.972672,189564.0

![merge 2 table pandas](pp.1.png)

# การ join ตารางมี่ทั้งหมด 4 แบบ
ต่อไปในการบ้านจะเป็นการสร้างตารางจากรูป

![create.pandas.df](pp.2.png)

# HW
## - Dictionary
## - Row Oriented
## - default

In [1]:
import pandas as pd

In [2]:
sales = [{'account': 'Jones LLC', 'Jan': 150, 'Feb': 200, 'Mar': 140},
             {'account': 'Alpha Co','Jan': 200, 'Feb': 210, 'Mar': 215}, 
             {'account': 'Blue Inc', 'Jan': 50, 'Feb': 90, 'Mar': 95 }]
df1 = pd. DataFrame(sales)
df1

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

In [3]:
sales = [('Jones LLC', 150, 200, 140),
            ('Alpha Co', 200, 210, 215),
            ('Blue Inc', 50, 90, 95)]
labels = ['account', 'Jan', 'Feb', 'Mar']
df2 = pd.DataFrame.from_records(sales, columns=labels)
df2

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha Co  200  210  215
2   Blue Inc   50   90   95

- List
- Contumn Oriented
- from_items

In [5]:
sales = [('account', ['Jones LLC', 'Alpha co', 'Blue Inc']), 
            ('Jan', [150, 200, 50]), 
            ('Feb', [200, 210, 90]), 
            ('Mar', [140, 215, 95]) ]
df4 = pd. DataFrame.from_items (sales)
df4

C:\Users\N-PC\Miniconda3\lib\site-packages\ipykernel_launcher.py:5: FutureWarning: from_items is deprecated. Please use DataFrame.from_dict(dict(items), ...) instead. DataFrame.from_dict(OrderedDict(items)) may be used to preserve the key order.
  """

     account  Jan  Feb  Mar
0  Jones LLC  150  200  140
1   Alpha co  200  210  215
2   Blue Inc   50   90   95